# Gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
build/
*.o
*.elf
*.bin
*.hex
FinalProject_Learn/~$lf evaluation 34315_individual.docx
Video/IMG_4781.mov
FinalProject_Learn/Self evaluation 34315_individual.docx
FinalProject_Learn/~$lfevaluation_group.docx
.claude/worktrees/sharp-dubinsky-81c47f/
FinalProject_Learn/~$lfevaluation_group.docx
FinalProject_Learn/~$lfevaluation_group.docx
